
h1{
    color: black;
    background-color: white;
    font-size: 20px;
    display: block;
    text-align: center
}

body{
    background-color: cornflowerblue;
    color: purple;
    border: solid black 2px;
    padding: 10px;
    margin: auto;
    max-width: 800px;
}

#amenities{
    color: black;
}

#img1{
    max-width: 800px;
}

nav li{
    list-style: none;
    display: inline;
    padding: 6px 6px;
    border: solid 2px black;
    margin: 1px;

}